.intro{
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
  
}
#sogo{
  font-size: 4rem;
  color: var(--color-b);
  text-align: center;
}
#big-text > h1{
  font-size: 4rem;
  color: var(--color-b);
}
#text-wrapper{
  width: 60rem;
}
#text-wrapper{
  transform: translateX(-200rem);
  animation: side 1s forwards .5s ease-in-out;
}
@keyframes side{
  to{
    transform: translatex(0);
  }  
}
.intro > div > img{
  border-radius: 50%;
  border-style: solid;
  border-width: .5rem;
  border-color: var(--color-b);
}
#right-anime{
  transform: translateX(200rem);
  animation: side 1s forwards .5s ease-in-out;
}
@keyframes side{
  to{
    transform: translatex(0);
  }  
}

#text-wrapper > p{
  font-size: 1.7rem;
  color: var(--color-b);
}
.tech-stack-header{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}
.tech-stack-header{
  transform: translateX(-200rem);
  animation: side 1s forwards .5s ease-in-out;
}
@keyframes side{
  to{
    transform: translatex(0);
  }  
}
.tech-stack-header > h1 {
  font-size: 4rem;
  color: var(--color-b);
}
.tech-stack-header > p{
  font-size: 1.7rem;
  color: var(--color-b);
}
.tech-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  margin-bottom: 3rem;
}
.tech-images{
  transform: translateX(200rem);
  animation: side 1s forwards .7s ease-in-out;
}
@keyframes side{
  to{
    transform: translatex(0);
  }  
}

.each-card{
  width: 250px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}
.each-card > a{
  color: var(--color-b);
}
.each-card img{
  width: 100%;
  height: 200px;
  /* padding: 1rem; */
}
.each-card >a >svg:hover{
  color: var(--color-p);
}
.each-card h1{
  font-size: 2rem;
  margin: 1rem;
  color: var(--color-b);
}
.each-card p{
  font-size: 1.5rem;
  margin: 1rem;
}
.project-header{
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: var(--color-b);
  margin: 3rem 0;
}
.index-card{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

