:root{
  --color-p: #E70FAA;
  --color-b: #42446E;
}
.above-cards{
  text-align: center;
}
.above-cards h1{
  font-size: 4rem;
  padding-top: 2rem;
  color: var(--color-b);
  font-family: poppins, sans-serif;
}
.card{
  margin: 2rem;
}
.each-card-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem !important;
}
.each-card{
  width: 250px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}
.each-card > a{
  color: var(--color-b);
  margin: 1rem;
}
.each-card img{
  width: 100%;
  height: 200px;
  /* padding: 1rem; */
}
.each-card >a >svg:hover{
  color: var(--color-p);
}
.each-card h1{
  font-size: 2rem;
  margin: 2rem 1.2rem;
  color: var(--color-b);
}
.each-card p{
  font-size: 1.5rem;
  margin: 2rem 1.2rem;
}
.above-cards > p {
  font-size: 1.7rem;
  color: var(--color-b);
  margin-bottom: 2rem;
}